body {
  margin: 0;
  padding: 0;
}

.site-content {
  height: 100vh;
  width: 100vw;
  background-image: url(images/bg-img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.thankyou{
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

img .mail{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

*{
  font-family: Aclonica;
  color: black;
}

nav {
  width: 100vw;
  height: 4vh;
  display: flex;
  align-items: center;
}

.brand {
  font-size: 2vw;
  font-family: Berkshire Swash;
  margin-left: 5vw;
  margin-top: 4vh;
}

.nav-item {
  margin-top: 6vh;
  padding: 2vw;
  font-size: 1vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.content {
  text-align: center;
}

.content h1, h2, h3 {
  padding: 0;
  margin: 0;
  text-shadow: 10px 20px 60px black;
}

.content h2 {
  font-size: 3vw;
  color: ;
}

.content h3 {
  font-size: 2vw;
  color: ;
}

.content h1 {
  font-size: 6vw;
  color: ;
}

button {
  padding: 2vh 2vw;
  margin: 2vh 2vw;
  border-radius: 50px;
  border: 2px solid ;
  background-color: transparent;
  box-shadow: 0px 15px 20px
}

button : hover {
  background-color: ;
}

div.first{
  width:350px;
  height:auto;
  margin:50px auto 0;
  padding:50px;
  background-color:#EEE;
  color:#333;
  border:2px solid #C2D6FF;
  border-radius:40px 0 40px 0
}

label{
font-size:15px;
font-weight:700
}

input.fname{
  background-position:6px;
  border:1px solid #DADADA;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:35px;
  width:310px;
  height:30px;
  font-size:14px;
  box-shadow:0 0 10px;
  -webkit-box-shadow:0 0 10px;
  -moz-box-shadow:0 0 10px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px
}

input#email{
  background-position:6px;
  border:1px solid #DADADA;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:35px;
  width:310px;
  height:30px;
  font-size:14px;
  box-shadow:0 0 10px;
  -webkit-box-shadow:0 0 10px;
  -moz-box-shadow:0 0 10px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px
}

input#contact{
  background-position:6px;
  border:1px solid #DADADA;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:35px;
  width:310px;
  height:30px;
  font-size:14px;
  box-shadow:0 0 10px;
  -webkit-box-shadow:0 0 10px;
  -moz-box-shadow:0 0 10px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px
}

input#address{
  background-position:6px;
  border:1px solid #DADADA;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:35px;
  width:310px;
  height:30px;
  font-size:14px;
  box-shadow:0 0 10px;
  -webkit-box-shadow:0 0 10px;
  -moz-box-shadow:0 0 10px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px
}

button.submit {
  background-color:#cc7a66;
  border-radius:5px;
  border:none;
  padding:10px 25px;
  color:#FFF;
  text-shadow:1px 1px 1px #949494;
  margin-left:120px
}

button.submit:hover{
  background-color:#FF9980
}
